<p>
  Current user : <strong>{{ user | json }}</strong> {{ isAdminText(user) }}
</p>
<p>
  Submitted user : <strong>{{ submittedUser | json }}</strong> {{ isAdminText(submittedUser)  }}
</p>

<ng-container *ngIf="user">
  <dp-user-form [user]="user" (submitUser)="onSubmit($event)"></dp-user-form>
</ng-container>
