<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>User Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="userNameControl?.errors?.required"> The name is <strong>required</strong> </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div *ngIf="userAgeControl as control" class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Age" formControlName="age" />
            <mat-error *ngIf="control.hasError('required')"> The age is <strong>required</strong> </mat-error>
            <mat-error *ngIf="control.errors?.min as error">
              The minimal age is <strong>{{ error.min }}</strong
              >. Actual : <strong>{{ error.actual }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="userRoleControl as control" class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Role" formControlName="role">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let role of roles | keyvalue" [value]="role.value">
                {{ role.key }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="control.hasError('required')"> The role is <strong>required</strong> </mat-error>
            <mat-error *ngIf="control.hasError('userRole')">
              The role must be "<strong>{{ roles.Undefined }}</strong
              >" or "<strong>{{ roles.Admin }}</strong
              >"
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="userFooBarControl as control" class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ control.name | titlecase }}" [formControl]="control.control" />
          </mat-form-field>
        </div>
      </div>

      <div class="row" formGroupName="address">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="street"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
